.dispute-modal {
  width: 56rem;
  left: 63%;
}

.dispute-modal-content {
  height: 102.4rem;
  background-color: #fff;
  height: 100vh;
}

.dispute {
  padding: 0;
}

.claim-text,
.claim-title {
  font-size: 1.6rem;
  line-height: 21.6px;
  color: #828282;
}

.claim {
  height: 8.3rem;
  width: 56.1rem;
  background-color: #f8f8f8;
  padding: 2.8rem 2.4rem;
}

.claim-tab {
  margin: 1.5rem 2.4rem;
  cursor: pointer;
}

.refund-btn {
  background: #023474;
  color: #ffffff;
}

.refund-btn:hover {
  background-color: #023474;
  color: #fff;
}

.refund-btn:checked + .btn,
.refund-btn.active,
.refund-btn.show,
.refund-btn:first-child:active,
:not(.refund-btn) + .refund-btn:active {
  background-color: #023474;
  color: #fff;
}

.claim-nav {
  margin: 2.3rem 2.2rem;
  height: 44.4rem;
  width: 51.5rem;
}

.claim-li {
  font-size: 1.6rem;
  color: #000;
  margin: 0.8rem 0;
}

.claim-spacing {
  margin: 2.6rem 0;
}

.contract-spacing {
  margin: 1.6rem 0;
}

.close-claim {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #ee0006;
  width: 30.5rem;
  transition: all 0.3s linear;
}

.close-claim:hover,
.close-claim:active {
  background-color: #e0e0e01e;
  border: 1px solid #e0e0e0;

  color: #ee0006;
}

:not(.btn-check) + .btn:active {
  background-color: #e0e0e01e;
  color: #ee0006;
  border: 1px solid #e0e0e0;
}

.claim-btn {
  height: 4.8rem;
  font-weight: 400;
  width: 33.3rem;
}

.claim-button {
  width: 51.2rem;
  height: 4.8rem;
  margin: 3rem 0 3.3rem 0;
}

.claim-ul {
  padding-left: 1rem;
}

.claim-material {
  color: #4f4f4f;
}

.claim-link {
  color: #000000;
}

.review {
  color: #caa00c;
}

.approval-sapcing {
  margin: 1.2rem 0;
}

.approval-title {
  color: #828282;
  line-height: 18.9px;
  font-size: 1.4rem;
}

.approval-modal {
  width: 71.7rem;
  left: 53%;
  overflow-y: scroll;
  height: 100vh;
}

.approval-modal::-webkit-scrollbar {
  width: 0;
}

.approval {
  width: 71.7rem;
}

.skill-flex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.approval-nav {
  margin: 0 3.2rem;
}

.approval-img {
  margin-bottom: 2.4rem;
  height: 8.2rem;
  width: 8.2rem;
  border-radius: 100%;
}

.approval-heading {
  color: #000000;
  border-bottom: 1px solid #f2f2f2;
  margin: 2.4rem 0 1.6rem 0;
}

.skills {
  font-size: 1.4rem;
  background-color: #fafafa;
  padding: 0.8rem;
  color: #4f4f4f;
  line-height: 18.9px;
  text-align: center;
  margin: 0.7rem 0.7rem 0 0;
  text-transform: capitalize;
}

.approval-li {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arr {
  cursor: pointer;
  margin: 0 0.8rem 0 0;
}

.reject-modal-content {
  width: 64.1rem;
  height: 44rem;
  border-radius: 1.6rem;
  margin: 25rem 40rem;
  overflow: hidden;
}

.portfolio {
  flex-direction: column;
  align-items: start;
}

.reject-li {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1.6rem 0;
}

.reason-text {
  font-size: 1.4rem;
  line-height: 18.9px;
  margin-bottom: 1.6rem;
}

.reject-body {
  margin: 1.6rem 3.2rem;
}

.reject-header {
  width: 64.1rem;
  height: 6.7rem;
  border-bottom: 1px solid #f2f2f2;
  margin: 2.3rem 0;
  padding: 0;
}

.reject-title {
  color: #4f4f4f;
  font-size: 2rem;
  line-height: 27px;
  margin: 2.05rem 45.2rem 1.92rem 3.2rem;
}

.svg-x {
  cursor: pointer;
}

.reject-ul {
  padding: 0;
}

.reject-button {
  margin: 2rem 4.3rem 3.2rem 18.2rem;
  width: 37.6rem;
}

.reject-btn {
  height: 4rem;
  border-radius: 0.6rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.cancel-btn {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  color: #828282;
  line-height: 18.3px;
  transition: all 0.3s linear;
}

.cancel-btn:hover {
  background-color: #e0e0e01e;
  border: 1px solid #e0e0e0;
  color: #828282;
}

.cancel-btn:checked + .btn,
.cancel-btn.active,
.cancel-btn.show,
.cancel-btn:first-child:active,
:not(.cancel-btn) + .cancel-btn:active {
  background-color: #e0e0e01e;
  border: 1px solid #e0e0e0;
  color: #828282;
}

.reject--btn {
  background-color: #ee0006;
  font-weight: 500;
  color: #ffffff;
  border: none;
  transition: all 0.4s linear;
}

.reject--btn:hover {
  background-color: #fc6d71;
  color: #fff;
}

.approval-btn {
  height: 8.1rem;
  padding: 0;
}

.close-claim-modal {
  width: 44.9rem;
  height: 27rem;
  overflow: hidden;
  text-align: center;
  margin: 37.7rem 49.6rem;
  border-radius: 1.6rem;
}

.svg {
  margin: 6.3rem 0 2rem 0;
}

.claim-header {
  color: #023474;
  font-size: 1.6rem;
  font-size: 700;
  margin-bottom: 0.8rem;
}

.close-claim-text {
  height: 6.9rem;
  color: #505050;
  margin: 0 6.1rem 4.7rem 6rem;
}

.phone-link {
  text-decoration: none;
  /* color: #000; */
}

.mb-3 {
  margin: 1.5rem 2.4rem 2.3rem 2.4rem;
}

.nav-link {
  margin: 0;
}

.tab-nav {
  margin: 1.5rem 0 2.3rem 0;
}

.withdrawal-grid {
  grid-template-columns: repeat(3, 1fr);
}

.info {
  font-size: 3rem;
  margin: 6rem 1rem;
}

.tab-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.tab-content::-webkit-scrollbar {
  width: 0;
}
