* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  font-family: sans-serif;
  line-height: 23.2px;
  color: #505050;
  font-weight: 400;
  background-color: #fafafa;
}

li {
  list-style: none;
}

.containr {
  margin: 1.6rem 3rem 4rem 25rem;
}

.page-header {
  font-size: 4rem;
  text-align: center;
  margin: auto 32%;
  width: 50%;
}

.page {
  margin: 5% auto;
}

.pnf-img {
  margin: 0 35%;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #f2f2f2;
  width: 23.4rem;
}

.dd {
  font-size: 4rem;
}

.side-bar-nav {
  background-color: #fff;
}

.side-bar-ul,
.sidebar,
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 4rem 1rem 2rem 1rem;
  margin-top: 0.38px;
}

.log-img {
  background-color: #fff;
  padding: 0 2.4rem;
  border-bottom: 1px solid #f2f2f2;
  height: 8rem;
}

.sidebar {
  padding: 0;
}

.side-bar-link {
  font-size: 1.4rem;
  color: #505050;
  text-decoration: none;
  padding: 0.8rem;
  transition: all 0.4s linear;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.active {
  background-color: #f4f7fb;
  border-radius: 0.8rem;
  color: #023474;
  font-weight: 500;
}

.main-nav-ul,
.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin {
  gap: 4rem;
  align-items: center;
}

.admin-cta {
  border: 1px solid #e6e6e6;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  color: #101010;
  line-height: 16.8px;
}

.main-nav {
  background-color: #fff;
  padding: 1.5rem 2rem;
  top: 0;
  border: 1px solid #f2f2f2;
  height: 8rem;
}

.search-input {
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  padding: 0.8rem 1.6rem;
}

.search-input::placeholder {
  color: #bdbdbd;
  font-size: 1.6rem;
  line-height: 19.2px;
  width: 11.6rem;
  height: 4rem;
}

.nav-form {
  display: flex;
  align-items: center;
}

.icons {
  color: #bdbdbd;
}

.notification {
  color: #505050;
  border: 1px solid #e6e6e6;
  border-radius: 0.8rem;
  width: 4rem;
  height: 4rem;
}

.nav-container {
  margin: 0 0 0 22rem;
}

.burger {
  display: none;
}

.cta {
  background-color: #ffe5e5;
  padding: 0.8rem;
  border: 0.8rem;
  border-radius: 1rem;
  color: #d70000;
  font-size: 1.6rem;
  line-height: 21.6px;
  font-weight: 500;
  gap: 0.8rem;
}

.logout {
  color: #d70000;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 16px;
  color: #667185;
}

.tertiary-header {
  font-size: 1.6rem;
  color: #101010;
}

.app-header {
  margin: 3.2rem 0;
}

.error-desc {
  font-size: 1.6rem;
}

.err {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 25rem;
}

.reset {
  width: 30%;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}

.spinner {
  font-size: 3rem;
  margin: 18rem auto;
  text-align: center;
}

.spinner-border,
.spinner-grow {
  height: 8rem;
  width: 8rem;
}

.grower {
  margin: 10rem auto;
}

.login {
  background-color: #023474;
}

.login:hover {
  background-color: #023474;
}

.name {
  padding: 0 3.5rem;
}
