@media (max-width: 75em) {
  .task-width {
    width: 100%;
    padding: 0;
  }

  .main-li {
    font-size: 1.2rem;
  }

  .main-ul {
    padding: 0.8rem;
  }

  .check {
    gap: 1rem;
  }

  .name {
    padding: 0 1.5rem;
  }

  .withdraw-ul {
    grid-template-columns: 81% 20%;
    align-items: center;
  }

  .with-li {
    margin: 1rem 3rem;
  }

  .req {
    width: 100%;
    padding: 0;
  }

  .modal-c {
    left: 74%;
    width: 25rem;
  }

  .grid-user-li {
    font-size: 1.3rem;
  }

  .info {
    font-size: 2rem;
  }

  .dispute-modal {
    width: 58rem;
    left: 55%;
  }

  .approval-modal {
    width: 50%;
    left: 51%;
  }

  .claim-spacing {
    margin: 1.2rem 0;
  }

  .dispute-modal-content {
    height: 100vh;
  }

  .claim-li,
  .claim-title,
  .nav-link,
  .message {
    font-size: 1.4rem;
  }

  .log-border {
    width: 83%;
  }

  .polygon {
    left: 12%;
  }

  .logs {
    margin: 0;
  }

  .accordion-header {
    width: 87%;
    margin: 1.5rem;
  }
}

@media (max-width: 64em) {
  .log-border {
    width: 60%;
  }

  .accordion-header {
    width: 75%;
    margin: 1.5rem;
  }
}

@media (max-width: 48em) {
  body {
    background-color: #fff;
  }

  .containr {
    margin: auto;
    margin: 0;
  }
  .main--ul,
  .main__ul {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    justify-content: space-between;
    padding: 2.3rem 1rem;
    align-items: flex-start;
  }

  .m-n {
    align-items: end;
    text-align: justify;
    margin: 0;
  }

  .hidden-info {
    display: block;
    position: absolute;
  }

  .grid-5-cols {
    height: 48vh;
    border: 1px solid #f2f2f2;
    border-radius: 0.6rem;
    margin: 1rem 2.4rem;
  }

  .task {
    margin: 0.8rem 2.4rem;
    padding: 0;
  }

  .name {
    padding: 0;
  }

  .main-li {
    margin: 1rem 0;
    font-size: 1.4rem;
  }

  .checkbox {
    display: none;
  }

  .hidden--info {
    display: none;
  }

  .activities {
    background-color: transparent;
  }

  .email-hover {
    max-width: 100%;
  }

  .hidden-dots {
    display: none;
  }

  .hidden-dot {
    display: block;
    position: absolute;
    bottom: 25.5rem;
    left: 7rem;
  }

  .modal-c {
    left: 62%;
  }

  .check {
    display: block;
  }

  .task-width {
    width: 10rem;
  }

  .burger {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    flex-direction: column;
    top: 15px;
    height: 2.4rem;
  }

  .burger_bar {
    position: relative;
    background-color: red;
    height: 2px;
    width: 3rem;
    transition: all 0.5s ease-in-out;
    left: -2rem;
  }

  .burger_bar::before,
  .burger_bar::after {
    content: "X";
    position: absolute;
    height: 2px;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
  }

  .bar {
    right: 0;
    width: 1.5rem;
  }

  .bar3 {
    width: 2.5rem;
  }

  .open > .burger_bar {
    background-color: transparent;
  }

  .open > .burger_bar::before {
    width: 32px;
    transform: rotate(45deg);
  }

  .open > .burger_bar::after {
    width: 32px;
    transform: rotate(-45deg);
  }

  .burger-menu {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 7.8rem;
    left: 0;
    width: 28rem;
    align-items: start;
    transition: all 0.3s linear;
    opacity: 0;
    z-index: 1;
    transform: translateX(-1%);
    transform: translateY(100%) translateX(-100%);
  }

  .active {
    border-bottom: none;
  }

  .h1 {
    font-size: 2rem;
  }

  .burger-menu.open {
    transform: translate(0);
    opacity: 100%;
  }

  .nav {
    display: none;
  }

  .side-bar-ul,
  .burger-menu {
    padding: 0.8rem 1rem 2rem 1rem;
  }

  .side-bar {
    border: none;
  }

  .sidebar {
    margin: 0;
    gap: 0;
    display: inline;
  }

  .cta {
    width: 100%;
  }

  .tertiary-header {
    font-size: 2rem;
  }

  .approval-modal {
    left: 35%;
    width: 100%;
  }

  .approval {
    width: 100%;
  }

  .skill-flex {
    overflow-x: scroll;
  }

  .dispute-modal {
    width: 100%;
    left: 35%;
  }

  .claim-button {
    width: 90%;
    margin: 0;
  }

  .nav-tabs {
    display: flex;
  }

  .claim-ul {
    padding: 0;
  }

  .log-border {
    width: 100%;
  }

  .accordion-header {
    width: 94%;
  }

  .cols {
    height: 45vh;
    margin: 1rem;
  }

  .withdrawal-cols {
    height: 25vh;
    margin: 1rem;
  }

  .withdrawal-grid {
    margin: 0;
  }

  .withdrawal {
    line-height: 0;
  }

  .approval-dot {
    bottom: 21rem;
  }

  .log-img {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 36em) {
  body {
    overflow-x: hidden;
  }
  .approval-modal {
    left: 5%;
    left: 0;
    height: 100%;
  }

  .grid-5-cols {
    width: 95%;
    margin: 2rem 1rem;
  }
}
