.input {
  background-color: #f8f8f8;
  width: 33.2rem;
  height: 4.8rem;
  margin: 1rem 0;
  cursor: text;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid #e0e0e0;
  padding: 0 1rem;
}

.options {
  cursor: pointer;
}

.report-form {
  background-color: #fafafa;
}

label {
  font-size: 1.6rem;
  color: #4f4f4f;
  line-height: 21.6px;
}

.button {
  background-color: #023474;
  padding: 0.8rem;
  width: 19.4rem;
  height: 4.8rem;
  color: #fff;
}

.fl {
  width: 54.2rem;
  height: 7.4rem;
}

.sta {
  height: 8rem;
}

.sta-inp {
  width: 16.1rem;
}

.search {
  width: 25.5rem;
  padding: 0.8rem 1.6rem;
}

.tert {
  padding: 1rem 2rem;
}

.report {
  background-color: #fff;
}

.s-l {
  display: flex;
  align-items: center;
}

.settings {
  background-color: #fff;
  height: 90.7rem;
  width: 110.4rem;
  border-radius: 1.6rem;
  position: absolute;
}

.profile-btn {
  margin: 1.6rem;
}

.profile {
  border-radius: 0.8rem;
  width: 26.9rem;
  height: 5.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-set {
  width: 30.1rem;
  height: 53rem;
  margin: 6.9rem 1.6rem;
}

.profile-studio {
  background-color: #fafafa;
  position: absolute;
  margin: 4rem 20%;
  margin: 6.9rem 31.7rem;
  width: 75.1rem;
  height: 80.7rem;
  border-radius: 0.8rem;
  text-align: center;
  padding: 4rem;
}

.input::placeholder {
  opacity: 30%;
  padding: 2rem;
}

.avt-img {
  height: 8rem;
  margin-top: 2rem;
}

.profile-li {
  width: 50rem;
  height: 8.4rem;
  margin: 2.5rem 0;
  font-size: 1.4rem;
  color: #4f4f4f;
}

.profile-input {
  width: 50rem;
  height: 5.6rem;
}

.pro-form {
  text-align: start;
  margin: auto;
  width: 80%;
}

.withdraw-ul {
  grid-template-columns: 85% 20%;
}

.with-flex {
  padding: 0;
}

.with-li {
  margin: 1rem 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.approve {
  background-color: #008000;
  color: #f8f8f8;
  padding: 0.4rem 1.2rem;
  border-radius: 0.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  width: 8.6rem;
  height: 3.1rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.decline {
  background-color: #ffe5e5;
  color: #ca0101;
}

.meg {
  color: #063574;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #0636742c;
  border-radius: 9rem;
}

.rejected {
  background-color: #ffebeb;
  color: #ca0101;
  text-transform: capitalize;
}

.approved {
  background-color: #e5ffe5;
  color: #008000;
  text-transform: capitalize;
}

.statusClass {
  text-transform: capitalize;
}

.pending {
  background-color: transparent;
}

.btnn {
  border: none;
  outline: none;
}

.req {
  width: 16.9rem;
  height: 3.1rem;
  padding: 0.4rem 1.2rem;
}

.span-withdraw {
  font-weight: 400;
  line-height: 17.4px;
  font-size: 1.2rem;
}

.pending {
  color: red;
}

.cancel {
  padding: 0 1rem;
}
