.star-rating {
  display: flex;
  flex-direction: row;
}

.star {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
  position: relative;
}

.star.filled {
  color: gold;
}

.star.half-filled::before {
  content: "\u2605";
  width: 50%;
  color: gold;
  position: absolute;
  width: 50%;
  overflow: hidden;
}
