.pagination-ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2.4rem 5rem;
  width: 27.2rem;
  height: 3.6rem;
}

.pagination {
  margin: auto;
  width: 25%;
}

.pagination-link {
  text-decoration: none;
  color: #98a2b3;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20.3px;
  /* padding: 0 1rem; */
  text-align: center;
  background-color: transparent;
}

.activePage {
  border: 1px solid #023474;
  border-radius: 0.6rem;
  color: #000000;
  width: 2.4rem;
  height: 2.4rem;
}

.user-nav {
  height: 4.3rem;
  cursor: pointer;
  border: none;
  padding: 0;
}

.transaction-nav {
  margin: 1.6rem 0;
}

.dots {
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.starRating {
  color: gold;
  display: flex;
  align-items: center;
}

.r {
  color: #e5e5e5;
  fill: #e5e5e5;
}

.grid-user {
  display: flex;
}

.back {
  font-size: 1.4rem;
  line-height: 20.3px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.details {
  color: #023474;
  font-size: 1.6rem;
  margin: 2rem 0;
  background-color: #0e3f7e0a;
  border: 1px solid #0e3f7e0a;
  border: none;
  outline: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
}

.bg {
  background-color: #fff;
  height: 89rem;
  border-radius: 1.6rem;
  /* width: 100.4rem; */
  padding: 2rem;
}

.grid-user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 110.4rem; */
}

.grid-user-li {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
}

.user-detail {
  font-weight: 700;
  color: #505050;
}

.mail {
  color: #505050;
  text-decoration: none;
}

.canceled {
  background-color: #fff0f0;
  color: #ca0101;
  font-weight: 400;
  line-height: 20.3px;
  font-size: 1.4rem;
  width: 8.7rem;
  border: 0.6rem;
  padding: 1rem 1.2rem;
}

.resume {
  color: #999999;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.next {
  background-color: #828282;
  color: #fff;
  border: 1px solid #f0f2f5;
  padding: 0.8rem;
  border-radius: 4.6rem;
  width: 3.6rem;
  height: 3.6rem;
}

.prev {
  background-color: #f0f2f5;
}

.format {
  display: flex;
  align-items: center;
  gap: 3px;
}

.span {
  color: #777777;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 17.4px;
}

.ll {
  margin-left: 2rem;
}

.span-flex {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.withdrawal-nav {
  border: none;
  padding: 0;
}

.email-hover {
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
}

.email-hover:hover {
  max-width: none;
  white-space: normal;
}

.cap {
  text-transform: capitalize;
}

.task-width {
  padding: 0 1.6rem;
}

.app-profile::placeholder {
  opacity: 100%;
  color: #000;
  font-weight: 500;
}
